<div class="container" style="margin: 100px auto">
    <h4 style="text-align: center;">Agregar un nuevo trabajo</h4>
    <form action="/admin/trabajos/agregar" method="post" enctype="multipart/form-data">
    <div class="row mb-3">
        <div class="form-floating">
            <textarea class="form-control" placeholder="Titulo" name="titulo" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Título</label>
        </div>
    </div>
    <div class="row mb-3">
        <div class="form-floating">
            <textarea class="form-control" placeholder="Subtitulo" name="subtitulo" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Subtítulo</label>
        </div>
    </div>
    <div class="row mb-3">
        <div class="form-floating">
            <textarea class="form-control" placeholder="Cuerpo" name="cuerpo" id="floatingTextarea"></textarea>
            <label for="floatingTextarea">Cuerpo</label>
        </div>
    </div>
    <div class="row mb-3">
        <div class="form-group">
            <label>Imagen: <input type="file" name="imagen" id="imagen"/></label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    {{#if error}}
    <p>{{message}}</p>
    {{/if}}
</div>